<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Empties administration</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form method="post" class="form-group" th:object="${entity}">
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block" id="submit">Add role</button>
            </div>
        </form>
    </div>
    <div>
        <table class="table table-hover table-bordered">
            <thead class="tab-header-area">
            <tr>
                <td><strong>Id</strong></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role:${entities}">
                <td><strong>
                    <div th:text="${role.id}"></div>
                </strong></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
<script type="application/javascript" >
    $(document).ready(function () {
        $('#submit').on("click", function(e) {
            e.preventDefault();
            var data = {};
            data["name"] = $('#name').val();

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/empties/save",
                data: JSON.stringify(data),
                dataType: "json",
                timeout: 6000,
                success: function (data) {
                    //if(confirm("Entity with id:" + data + " saved")) {
                    window.location.reload();
                    //}
                }
            })
        })
    })
</script>
</body>
</html>