<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>CRUD</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
            <div class="col-10" th:include="fragments/editEntity :: edit-form"></div>
            <div class="col-10" th:include="fragments/entitiesList :: entities-list" id="entities-list"></div>
        </main>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>