<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Singularity home</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 starter-template bd-content">
            <h1 class="bd-title">Singularity home</h1>
        </main>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>