<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Roles administration</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form method="post" class="form-group" th:object="${entity}">
            <div class="form-group"><label th:for="name">Role name:</label> <input type="text" name="name"
                                                                                   th:placeholder="name"
                                                                                   th:field="*{name}"
                                                                                   class="form-control input-lg"
                                                                                   id="name"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block" id="submit">Add role</button>
            </div>
        </form>
    </div>
    <div>
        <table class="table table-hover table-bordered">
            <thead class="tab-header-area">
            <tr>
                <th th:each="caption:${captions}"
                    th:style="${caption.hide?'display: none;':''}"><strong>
                    <div th:text="${caption.label}"></div>
                </strong></th>
                <th><strong>Edit</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entity:${entities}">
                <td th:each="caption:${captions}"
                    th:style="${caption.hide?'display: none;':''}"
                    th:text="${__'entity.' + ${caption.name}__}"></td>
                <td><a th:href="@{__${#httpServletRequest.requestURI}__/{id}(id=${entity.id})}">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
<script type="application/javascript">
    $(document).ready(function () {
        $('#submit').on("click", function (e) {
            e.preventDefault();
            var data = {};
            data["name"] = $('#name').val();

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/roles/save",
                data: JSON.stringify(data),
                dataType: "json",
                timeout: 6000,
                success: function (data) {
                    //if(confirm("Entity with id:" + data + " saved")) {
                    window.location.reload();
                    //}
                }
            })
        })
    })
</script>
</body>
</html>