<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Users administration</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
         th:include="fragments/editUser :: edit-form"></div>
    <div class="row"
         th:include="fragments/entitiesList :: entities-list">
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $("#entityForm").submit(function (e) {
        e.preventDefault();
        console.log(JSON.stringify($("#entityForm").serializeArray()));
        $.ajax({
            url: $("#entityForm").attr('action') + "?entityClass=User",
            type: 'post',
            data: $("#entityForm").serializeArray(),
            success: function (response) {
                window.location.reload();
            }
        })
    });/*]]>*/
</script>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>